body {
    margin: 0;
    font-family:"Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}



.container {
    width:1170px;
    padding: 0 15px;
    margin:0 auto;
}

header {
    height:65px;
    font-size: 30px;
    background-color: rgb(153, 247, 216);
    width:1170px;
    margin:0 auto;
}
.header-left p{
    line-height: 65px;
}

.top-bar a{
    float:left;
    color: black;
    font-size: 20px;
    width:32%;
    padding-top: 30px;
    padding-bottom:20px;
    margin:20px 5px;
    text-align: center;
    border-bottom:3px solid black;
    background-color: rgb(229, 240, 249);
}

.main-tytle img{
    width:1170px;
    height: 200px;
}

.main-tytle h1 {
    position:absolute;
    top:270px;
    padding-left:50px;    
}

.text-contents{
    height:450px;
}

.erex-cell {
    float:left;
    width:31%;
    background-color:rgb(250, 238, 218);
    margin:10px;
    height:350px;
    border-radius: 10px;
}

.e-tytle {
    width:80%;
    text-align: center;
    padding-top:40px;
    padding-left:30px;
    font-size:20px;
    color: rgb(253, 141, 21);

}
.e-content{
    padding:30px;
}
.erex-cell a {
    padding-left:30px;
    color: rgb(11, 155, 81);
}

.e-item{
    text-align: center;
}
.e-item h3{
    font-size:40px;
    margin-bottom:-20px;
}
.e-item h4{
    font-weight: none;
    color:rgb(253, 141, 21);
}
.erex{
    border-bottom: 2px solid gray;
    padding-top:40px;
}
.e-quote{
    background-color:rgb(253, 141, 21) ;
    border-radius: 50px;
    font-size:20px;
    padding:20px 0;
    width:50%;
    text-align: center;
    margin:-30px auto 50px auto;
}
.e-quote a{
    color: white;
    display:block;
}
.e-quote:hover{
    background-color:rgb(248, 187, 122) ;
    cursor: pointer;
}

.water-cell {
    float:left;
    width:31%;
    background-color:rgb(218, 242, 250);
    margin:10px;
    height:350px;
    border-radius: 10px;
}

.w-tytle {
    width:80%;
    text-align: center;
    padding-top:40px;
    padding-left:30px;
    font-size:20px;
    color: rgb(21, 75, 253);

}
.w-content{
    padding:30px;
}
.water-cell a {
    padding-left:30px;
    color: dodgerblue;
}

.w-item{
    text-align: center;
}
.w-item h3{
    font-size:40px;
    margin-bottom:-20px;
}
.w-item h4{
    font-weight: none;
    color:rgb(21, 75, 253);
}
.water{
    border-bottom: 2px solid gray;
    padding-top:40px;
}
.w-quote{
    background-color:rgb(21, 75, 253) ;
    border-radius: 50px;
    font-size:20px;
    padding:20px 0;
    width:50%;
    text-align: center;
    margin:-30px auto 50px auto;
}
.w-quote a{
    color: white;
    display: block;
}
.w-quote:hover{
    background-color:rgb(102, 136, 245) ;
    cursor: pointer;
}

.introduction{
    height:900px;
    border-bottom: 2px solid gray;
    margin-bottom:20px;
}
.introduction-tytle img{
    width:1170px;
    height: 200px;
    margin-bottom:20px;
}

.introduction-tytle h1 {
    position:absolute;
    top:270px;
    padding-left:50px;
}

.introduction-text{
    font-size:20px;
    float:left;
}
.introduction-img{
    float:right
}
.company img{
    width:1170px;
    height: 200px;
}
.company h1 {
    position:absolute;
    top:1100px;
    padding-left:50px;
}
.company-table{
    margin-top:30px;
}
.company-table table{
    width: 100%;
}
.company-table th{
    font-size: 20px;
    padding:20px auto;
    width:300px;
    background-color:rgb(182, 240, 240);
}
.company-table td{
    font-size: 20px;
    padding:20px 30px;
}

.contact-tytle img{
    width:1170px;
    height: 200px;
}
.contact-tytle h1 {
    position:absolute;
    top:270px;
    padding-left:50px;
}
.contact-form{
    margin-top:30px;
}
.contact-form table{
    width: 100%;
}
.contact-form th{
    font-size: 20px;
    padding:20px auto;
    width:300px;
    background-color:rgb(182, 240, 240);
}
.contact-form td{
    padding:5px;
}
input{
    width:400px;
    font-size:30px;
    padding:5px;
}
textarea{
    width:800px;
    height:200px;
    font-size:30px;
    padding:5px;
}
input::placeholder,textarea::placeholder{
    color:rgb(218, 215, 215)
}
.send{
    text-align: center;
}
.send input{
    font-size:30px;
    border-radius: 20px;
    margin:20px auto;
    background-color: rgb(126, 244, 205);
    
}
.send input:hover{
    background-color: rgb(20, 227, 158);
    cursor: pointer;
}
footer{
    height:65px;
    font-size: 15px;
    background-color: rgb(153, 247, 216);
    line-height:65px;
    width:1170px;
    margin:0 auto;
    text-align: center;
}
